/*引入Glyphicons 字体图标*/
@font-face {
    src:url('../font/glyphicons-halflings-regular.svg');
    src: url('../font/glyphicons-halflings-regular.ttf');
}
body {
    margin: 0;
    padding: 0;
    font-size: 16px;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/*页头样式开始*/
.navheader {
    width: 1000px;
    height: 40px;
    margin: 0 auto;
}
.navheader ul,.navbar ul {
    list-style: none;
    margin: 0;
    float: right;
}
.navheader ul li,nav .wel-sentence {
    display: inline-block;
    line-height: 40px;
    padding:0 10px
}
.navheader ul li:nth-child(3) {
    padding: 0;
}
.navheader ul>li:nth-child(2) {
    padding: 0 5px 0 10px;
}
.navheader>ul>li:nth-child(4) {
    padding: 0 10px 0 5px;
}
.navheader>ul>li>a,.wel-sentence>a {
    line-height: inherit;
    display: inline-block;
    height: inherit;
    color: #999999;
}
.navbar {
    width: 1000px;
    height: 60px;
    margin: 10px auto;
}
.navbar>ul>li {
    display: inline-block;
    /*line-height: 60px;*/
    padding:0 20px;
    position: relative;
}
.navbar>ul>li>a {
    line-height: 60px;
    text-decoration: none;
    display: inline-block;
    height: 60px;
    color: #000;
}
.navbar>ul>li>a:hover {
    color:#009944;
}
.logo {
    display: inline-block;
}
.navbar>ul>.active>a {
    color: #009944;
}
nav>.logo+ul>.active>a {
    color: #009944;
}
/*.login-btn:hover {*/
    /*background-color: #fff;*/
/*}*/
.navbar>ul>.login-btn>a {
    background-color: #57cf8c;
    line-height: 32px;
    width: 72px;
    height: 32px;
    text-align: center;
    color: #fff;
    border: 1px solid ;
}
.navbar>ul>.login-btn>a:hover {
    background-color: #07b755;
    color: #fff;
}
.navbar>ul>li:nth-child(2):hover .del-down{
    opacity: 1;
}
.del-down,.per-down {
    width: 100%;
    background-color: #FFF;
    list-style: none;
    text-decoration: none;
    position: absolute;
    z-index: 200;
    clear: both;
    left: 0;
    padding-top: 9px;
    opacity: 0;
    height: auto;
}
.per-down {
    width: 126px;
}
.del-down>li,.per-down>li {
    display: block;
    width: 100%;
    height: 40px;
    /*padding: 12px 0 12px 20px;*/
}
.del-down>li>a,.per-down>li>a {
    text-decoration: none;
    color: #555555;
    font-size: 16px;
    line-height: 40px;
    padding: 0 10px 0 20px;
}
.del-down>li:hover,.per-down>li:hover{
    background-color: #F5F5F5;
}
.del-down>li>a:hover,.per-down>li>a:hover {
    color: #009944;
}
.per-info-nav>a>img {
    width: 40px;
    height: 40px;
}
.navbar>ul>.per-info-nav:hover .per-down{
    opacity: 1;
}
/*页头样式结束*/


/*页脚样式开始*/

footer {
    width: 100%;
    min-width: 1200px;
    height: auto;
    margin: 0 auto;
    background-color: #333333;
    color: #fff;
}
.footer-content {
    width: 1200px;
    margin: 0 auto;
}
footer .footer-content ul {
    display: inline-block;
    vertical-align: middle;
}
.footer-content ul:nth-child(1) {
    margin-left: 171px;
    width: 230px;
    float: left;
    padding-top: 15px;
    padding-bottom: 14px;
    /*font-size: 18px;*/
}
.footer-content ul:nth-child(1) li {
    display: inline-block;
}
.footer-content ul:nth-child(2) {
    width: 283px;
    line-height: 28px;
    padding-top: 13px;
    padding-bottom: 12px;
    margin-left: 100px;
    font-size: 14px;
}
.footer-content ul:nth-child(3) {
    width: 137px;
    line-height: 28px;
    padding-top: 13px;
    padding-bottom: 12px;
    margin-right: 172px;
    float: right;
    font-size: 14px;
}

/*页脚样式结束*/

/*统一样式开始*/
.banner-image {
    width: 1200px;
    height: 200px;
    margin: 0 auto;
    position: relative;
}
.banner-mask {
    width: 1200px;
    height: 200px;
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    bottom: 0;
}
.banner-mask P:first-child {
    font-size: 32px;
    line-height: 32px;
    text-align: center;
    color: #fff;
    vertical-align: middle;
    margin: 67px 0 0 0 ;
}
.banner-mask p:last-child {
    font-size: 24px;
    line-height: 24px;
    margin:15px 0 0 0;
    text-align: center;
    color: #fff;
    vertical-align: middle;
    text-transform: uppercase;
}
.subhead {
    width: 1000px;
    height: 70px;
    vertical-align: middle;
    margin: 20px auto;
}
.subhead>span {
    font-size: 30px;
    line-height: 70px;
    color: #555555;
}
.subhead li {
    display: inline-block;
}
.subhead li a {
    line-height:85px;
    padding: 25px 15px;
    color: #666666;
}
.subhead li a:hover {
    color:#009944;
    text-decoration: none;
}
.subhead .active a {
    color:#009944;
}
.search {
    border-left: 1px solid #999999;
    border-right: 1px solid #999999;
    margin-top: 1px;
    height: 24px;
}
.subhead ul li .search button[type='submit'] {
    background-color: rgba(255,255,255,0.01);
    float: left;
    border: 0;
    height: 24px;
    padding: 0 6px 2px 6px;
}
.subhead ul li .search input[type='text'] {
    float: right;
    border: 0;
    height: 24px;
    font-size: 16px;
}
.subhead ul li:first-child {
    height: 20px;
}

/*统一样式结束*/
/*QQ咨询样式开始*/
.consult {
    width: 96px;
    height: 30px;
    position: fixed;
    z-index: 2000;
    right: 0;
    top: 50%;
    margin-bottom: 30px;
    background-color: #34aaf5;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.con-main img {
    margin: 5px 0 5px 5px;
    display: inline-block;
}
.con-main a {
    display: inline-block;
    line-height: 30px;
    color: #fff;
}
/*QQ咨询样式结束*/
/*登录框样式开始*/
.login .login-modal {
    width: 400px;
    height: 425px;
    background-color: #fff;
    margin: 10% auto;
}
.login-modal .close {
    font-size: 41px;
    font-weight: 400;
}
.login-modal p {
    font-size: 16px;
    /*line-height: 3;*/
    color: #555555;
    text-align: center;
    padding-top: 40px;
    padding-left: 46px;
    margin-bottom: 30px;
}
.login-modal .hr {
    width: 321px;
    height: 1px;
    background-color: #999999;
    margin:0 auto 29px auto;
}
.login-form,.change-pd {
    width: 321px;
    margin: 0 auto;
}
.login-form .form-control,.change-pd .form-control {
    font-size: 14px;
    /*line-height: 24px;*/
    margin: 20px 0;
    background-color: #F5F5F5;
}
.change-pd .form-control:nth-child(2) {
    margin:  0;
    width: 64%;
    display: inline-block;
}
.change-pd .send-code {
    display: inline-block;
    background-color: #10AC5F;
    margin-left: 8px;
    color: #fff;
}
.change-pd .send-code[disabled] {
    background-color: #F5F5F5;
    color: #333333;
}
.change-pd .bt-ch {
    background-color:#10AC5F ;
    color: #fff;
}
.change-pd .bt-ch[disabled] {
    background-color: #F5F5F5;
    color: #333333;
}
.login-form .form-control:focus {
    background-color: #FFFFFF;
}
.forget-pd {
    color: #555555;
    float: right;
    margin-bottom: 20px;
}
.forget-pd:hover {
    color: #009E4A;
    text-decoration: none;
}
.login-form .btn {
    background-color: #10AC5F;
    margin-bottom: 20px;
    color: #fff;
}
.login-form .btn[disabled] {
    background-color: #F5F5F5;
    color: #333333;
}
#autologin:checked+label {
    background-color:#10AC5F;!important;
}
.registered {
    color: #009E4A;
    float: right;
    margin-bottom: 20px;
}
.registered:hover {
    text-decoration: none;
    color: #555555;
}
.change-reg {
    padding-top: 20px;
    font-size: 14px;
}
.change-reg a {
    color: #009E4A;
}
.a-login {
    text-decoration: none;
}
.change-pd .btn[type='submit'] {
    background-color: #009E4A;
    color: #fff;
}
.change-pd .btn[type='submit']:disabled {
    background-color: #F5F5F5;
    color: #333333;
}

/*登录框样式结束*/

/*首页样式开始*/

/*轮播图*/
.index-carousel {
    width: 1200px;
    height: 381px;
    margin: 0 auto;
    padding: 0 0 19px 0;
    position: relative;
}
.gallery-top {
    width: 100%;
    height: 100%;
}
.gallery-thumbs {
    width: 381px;
    margin: 0 auto;
    position: relative;
    bottom: 61px;
}
.index-carousel>.gallery-thumbs>.swiper-wrapper>.swiper-slide {
    width: 121px;
    margin-right: 9px;
}
.index-carousel>.gallery-thumbs>.swiper-wrapper>.swiper-slide>img  {
    width: 121px;
    height: 51px;
}
.swiper-button-next {
    width: 50px;
    height: 50px;
    background-color: rgba(255,255,255,0.3);
    margin: 0;
    position: absolute;
    top: 301px;
    right: 349px;
}
.swiper-button-prev {
    width: 50px;
    height: 50px;
    background-color: rgba(255,255,255,0.3);
    margin: 0;
    position: absolute;
    top: 301px;
    left: 349px;
}
.gallery-thumbs>.swiper-wrapper .swiper-slide:hover {
    border: 3px solid rgba(0,158,74,0.6);
}
.index-carousel .swiper-pagination-bullet {
    border-radius: 0;
    width: 120px;
    height: 51px;
    background-image: url("../images/banner-1.png");
    background-size: cover;
    margin-right: 9px;
    display: inline-block;
}
/*.index-carousel .swiper-pagination-bullet-active {*/
    /*background-color: #009944;*/
/*}*/
.index-carousel .swiper-pagination {
    width: 390px;
    position: absolute;
    bottom: 24px;
    left: 409px;
}

/*动态*/
#index-dynamic {
    width: 1000px;
    margin:0 auto;
    padding: 19px 0 47px 0;
    font-size: 0;
}
.index-about,.index-news,.index-product {
    display: inline-block;
    vertical-align: top;
}
.index-about {
    width: 360px;
    padding:19px 0;
    margin-right: 38px;
    position: relative;
}
.index-news {
    width: 291px;
    margin-right: 20px;
}
.index-product {
    width: 291px;
}
.intro_up,.intro_down {
    display: inline-block;
}
.intro_up {
    width: 74px;
    height: 20px;
    padding-bottom: 19px;
    background-image: url("../images/intro_up.png");
    position: absolute;
}
.intro_down {
    width: 74px;
    height: 20px;
    background-image: url("../images/intro_down.png");
    float: right;
}
.intro_paragraph {
    text-indent: 2em;
    font: 400 24px "Microsoft YaHei UI";
    line-height: 36px;
    padding: 19px 22px;
}
.intro_paragraph p {
    margin-top: 19px;
    margin-bottom: 0;
}
.index-news>a>img {
    width: 290px;
    height: 120px;
}
.index-news>h4 {
    font-size: 18px;
    margin: 20px 0 9px 0;
}
.index-news>p {
    line-height: 20px;
    font-size: 14px;
}
.index-news h3,.index-product h3 {
    margin: 14px 0 19px 0;
    font-size: 24px;
    color: #333333;
}
.index-news h3 a,.index-news h4 a,.index-product h3 a {
    color: #333333;
}
.index-news h3 a:hover,.index-news h4 a:hover,.index-product h3 a:hover {
    text-decoration: none;
    color: #009E4A;
}
.index-news p {
    color: #999999;
}
.product-dynamics {
    width: 290px;
    height: 50px;
    margin: 20px 0;
}
.product-dynamics>a>img {
    width: 80px;
    height: 50px;
}
.product-dynamics>div {
    width: 192px;
    float: right;
}

.product-dynamics>div>a {
    font-size: 16px;
    line-height: 24px;
    color: #666666;
}
.product-dynamics>div>a:hover {
    text-decoration: none;
    color: #009E4A;
}
.index-product-more,.index-product-more:hover {
    font-size: 16px;
    line-height: 24px;
    color: #009E4A;
    margin-top: 14px;
}


/*首页样式结束*/

/*案例展示页开始*/
.page-position {
    width: 1000px;
    height: 60px;
    margin: 0 auto;
}
.page-position ul li {
    display: inline-block;
    font-size: 1.2em;
}
.page-position ul li a {
    color: #999999;
}
.page-position ul li a:hover {
    color: #999999;
}
#customer-case {
    width: 1000px;
    height: 900px;
    margin: 30px auto;
    /*padding-bottom: 2%;*/
    font-size: 0;
}
.case-group {
    width: 320px;
    height: 295px;
    display: inline-block;
    position: relative;
}
.case-image {
    width: 320px;
    height: 220px;
}
.case-image img {
    width: 320px;
    height: 220px;
}
.case-text {
    width: 320px;
    height: 30px;
    text-align: center;
    font-size: 16px;
    margin: 20px auto 40px auto;
}
.case-text p {
    line-height: 16px;
    color: #555555;
}
.case-text-hover {
    width: 320px;
    height: 220px;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    bottom: 75px;
    color: #fff;
    padding: 60px 0;
    opacity: 0;
}
.case-text-hover p:first-child {
    text-align: center;
    font-size: 16px;
}
.case-text-hover p:last-child {
    font-size: 14px;
    margin:0 17px;
}
.case-group:hover .case-text-hover {
    opacity: 1;
}
.case-group:hover .case-text>p {
    color: #009944;
}
#customer-case .case-group:nth-child(1),#customer-case .case-group:nth-child(2),
#customer-case .case-group:nth-child(4),#customer-case .case-group:nth-child(5),
#customer-case .case-group:nth-child(7),#customer-case .case-group:nth-child(8) {
    margin-right: 20px;
}
#customer-case+.media-page {
    margin-bottom: 40px;
}

/*案例展示结束*/

/*媒体中心开始*/

.media-center {
    width: 1000px;
    height: 800px;
    margin: 0 auto;
}
.news-list {
    background-color: #fafafa;
    width: 540px;
    height: 120px;
    margin-bottom: 20px;
    position: relative;
}
.news-list-group {
    width: 540px;
    height: 800px;
    float: left;
}
.news-list-body {
    display: inline-block;
    width: 380px;
    padding: 9px 20px;
}
.news-list-img img {
    width: 160px;
    height: 120px;
}
.news-list-body a {
    text-decoration: none;
}
.news-list-body a p:hover {
    color: #000;
}
.news-list:hover {
    box-shadow: 2px 2px 2px rgba(153,153,153,0.2);
}
.news-list-body a p {
    font-size: 18px;
    color: #555555;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.news-list-body p:nth-child(2) {
    font-size: 14px;
    position: relative;
    line-height: 1.2em;
    height: 2.4em;
    overflow: hidden;
    color: #999999;
}

.news-list-body p:nth-child(2):after {
    content: "...";
    position: absolute;
    font-weight: bold;
    bottom: 0;
    right: 0;
    padding: 0 15px 0 0;
    background-color:#fafafa;
}
.news-list-body p:nth-child(3) {
    font-size: 12px;
    color: #999999;
}
/*.news-list-group .news-list:nth-child(4) .news-list-body,.news-list-group .news-list:nth-child(5) .news-list-body {*/
    /*width: 540px;*/
/*}*/
.news-group h4 {
    margin-top: 0;
}
.news-group ul li a p {
    font-size: 14px;
    position: relative;
    line-height: 1.9em;
    height: 3.8em;
    color: #65b4ec;
    overflow: hidden;
}
.news-group ul li a p:after {
    content: "...";
    position: absolute;
    font-weight: bold;
    bottom: 0;
    right: 0;
    padding: 0 15px 0 0;
    background-color:#fff;
}
.news-group {
    width: 234px;
    height: 500px;
    vertical-align: top;
}
.news-group ul li {
    line-height: 24px;
}
.media-center+.media-page {
    margin-bottom: 40px;
}
/*媒体中心结束*/

/*公司新闻开始*/
.development-text {
    width: 1000px;
    margin: 0 auto;
}
.articleContent p {
    text-indent: 2em;
    color: #555555;
    margin: 40px 0;
}
.articleContent p:first-child {
    margin-top: 0;
}
.articleContent p:last-child {
    margin-bottom: 80px;
}
.news-heading h3 {
    margin-top: 40px;
    font-size: 24px;
    color: #555555;
}
.news-heading span {
    font-size: 16px;
    color: #999999;
}
    /*公司新闻结束*/

/*分页器*/
.media-page {
    width: 350px;
    text-align: center;
    margin: 0 auto;
}
.media-page li {
    display: inline-block;
    border: 1px solid #DDDDDD;
    margin: 0.5%;
}
.media-page li a {
    font-size: 16px;
    padding: 12px 10px;
    text-decoration: none;
    color: #666666;
}
.media-page li:hover {
    background-color: rgba(0,0,0,0.05);
    border-color: #009E4A;
}
.media-page li a:hover {
    color:#009E4A ;
}
.media-page .page-active {
    border-color: #009E4A;
}
.media-page .page-active a {
    color:#009E4A ;
}
/*分页器*/

/*合作伙伴开始*/
.partner-profile {
    width: 1000px;
    height: 1125px;
    margin: 0 auto;
    font-size: 0;
}
.par-group {
    width: 320px;
    height: 335px;
    display: inline-block;
    margin-bottom: 40px;
}
.partner-profile .par-group:nth-child(1),.partner-profile .par-group:nth-child(2),
.partner-profile .par-group:nth-child(4),.partner-profile .par-group:nth-child(5),
.partner-profile .par-group:nth-child(7),.partner-profile .par-group:nth-child(8) {
    margin-right: 20px;
}
.par-header,.par-footer {
    background-color: #fafafa;
}
.par-body img {
    width: 320px;
    height: 220px;
}
.par-header {
    height: 40px;
    font-size: 18px;
    text-align: center;
    color: #555555;
    line-height: 40px;
}
.par-footer {
    height: 75px;
    font-size: 14px;
    color: #999999;
}
.par-footer p {
    /*display: block;*/
    padding: 19px;
    position: relative;
    line-height: 1.2em;
    height: 3.6em;
    overflow: hidden;
}
.par-footer p:after {
    content: "...";
    font-weight: bold;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0 10px 0 0;
    /*background-color: rgba(200,200,200,0.1);*/
}
.partner-profile+.media-page {
    margin-top: 40px;
    margin-bottom: 40px;
}

/*合作伙伴结束*/

/*产品中心样式开始*/
.pro-group {
    height: 295px;
    width: 1000px;
    margin: 0 auto 40px auto;
    font-size: 0;
}
.pro-list {
    width: 235px;
    height: 295px;
    display: inline-block;
    margin-right: 20px;
}
.pro-image {
    width: 235px;
    height: 235px;
    box-shadow: 0 5px 2px rgba(153,153,153,0.2);
}
.pro-image img {
    width: 235px;
    height: 235px;

}
.pro-text a {
    font-size: 16px;
    line-height: 16px;
    color: #555555;
}
.pro-text a:hover {
    color:#009E4A;
    text-decoration: none;
}
.pro-text>a>p:nth-child(1) {
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 15px 10px 15px;
}
.pro-text>p:nth-child(2) {
    font-size: 14px;
    line-height: 14px;
    color: #999999;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 10px 10px 10px;
}
.pro-group .pro-list:nth-child(4),.pro-group .pro-list:nth-child(8),.pro-group .pro-list:nth-child(12) {
    margin-right: 0;
}
.pro-group+.media-page {
    margin-bottom: 40px;
}
.pro-list:hover {
    box-shadow: 5px 0 2px rgba(153,153,153,0.2);
}
/*产品中心样式结束*/

/*产品详情样式开始*/
.det-main {
    width: 1000px;
    font-size: 0;

    margin: 0 auto 80px auto;
}
.det-left {
    width: 700px;
    /*height: 1380px;*/
    border: 1px solid #999999;
    margin-right: 20px;
    display: inline-block;
    padding: 20px;
}
.det-right {
    width: 280px;
    /*height: 975px;*/
    border: 1px solid #999999;
    display: inline-block;
    vertical-align: top;
}
.det-car {
    width: 250px;
    height: 294px;
    display: inline-block;
}
.det-car .swiper-container {
    width: 100%;
}
.det-car .swiper-container .swiper-slide img {
    width: 250px;
    height: 250px;
}
.det-car .swiper-pagination-bullet {
    border-radius: 0;
    width: 30px;
    height: 4px;
    margin: 0 10px;
 }
.det-car .swiper-pagination-bullet-active {
    background-color: #009944;
}
.det-car .swiper-pagination {
    width: 150px;
    margin:20px 0 40px 50px;
}
.det-car-title {
    width: 400px;
    height: 317px;
    padding-left: 20px;
    display: inline-block;
    vertical-align: top;
}
.det-car-title p:nth-child(1) {
    font-size: 20px;
    line-height: 20px;
    color: #555555;
    margin: 20px 0 20px 0;
}
.det-car-title p:nth-child(2) {
    font-size: 16px;
    line-height: 16px;
    color: #999999;
    margin: 40px 0 20px 0;
}
.det-car-title p:nth-child(3) {
    font-size: 16px;
    color: #999999;
    line-height: 24px;
}
.pro-det-title {
    background-color: #F5F5F5;
    border-radius: 5px;
    height: 40px;
    margin: 40px 0 40px 0;
}
.pro-det-title p {
    font-size: 18px;
    color: #555555;
    line-height: 40px;
    margin: 0 0 0 20px;
}
.pro-det-doc {
    width: 660px;
    padding: 0 20px 20px 20px;
}
.det-doc-title {
    font-size: 18px;
    line-height: 18px;
    margin: 0 0 20px 0;
    color: #009944;
    font-weight: 500;
}
.det-doc-body {
    font-size: 16px;
    color: #555555;
    line-height: 24px;
    margin: 0 0 40px 0;
}
.det-right {
    padding: 20px;
}
.det-right .det-doc-title {
    margin: 0;
}
.det-right .pro-list {
    width: 240px;
    margin-top: 20px;
    /*height: 240px;*/
}
.det-right .pro-list img {
    width: 240px;
    height: 240px;
}
/*产品详情样式结束*/

/*个人中心页样式开始*/
.per-info {
    width: 1000px;
    margin: 0 auto 40px auto;
    padding: 40px;
}
.info-name>p {
    text-align: center;
    margin: 10px 0;
    font-size: 18px;
    color: #555555;
}
.info-img {
    width: 120px;
    height: 120px;
    margin: 0 auto;
}
.info-img>img {
    width: 120px;
    height: 120px;
}
.info-det {
    margin-top: 40px;
}
.info-det-bl {
    height: 80px;
    border-bottom: 1px solid #999999;
    padding: 20px 0;
}
.info-det-bl>div {
    display: inline-block;
}
.det-title {
    width: 80px;
    padding: 0 5px;
}
.det-title>p {
    font-size: 16px;
    color: #999999;
    text-align: right;
    line-height: 40px;
}
.det-body {
    padding: 0 35px;
}
.det-body>p {
    font-size: 16px;
    line-height: 40px;
    color: #555555;
}
.det-btn>.btn {
    width: 120px;
    color: #999999;
    background-color: #f5f5f5;
}
.info-det>.info-det-bl:last-child {
    border: 0;
}
.ch-img {
    background-color: #fff;
}
/*修改图片弹出框*/
.ch-img-modal {
    width: 520px;
    margin: 0 auto;
}
.ch-img-modal-header {
    height: 88px;
}
.ch-img-modal-header>.close {
    font-size: 36px;
    padding-right: 10px;
}
.ch-img-title {
    font-size: 18px;
    color: #555555;
    padding: 40px 0 10px 40px;
}
.modal-header {
    border-bottom: 0;
}
.avatar-view {
    display: block;
    width: 220px;
    height: 220px;
    border: 3px solid #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,.15);
    cursor: pointer;
    overflow: hidden;
}
.avatar-view img {
    width: 100%;
}
.avatar-body {
    padding-right: 15px;
    padding-left: 15px;
    clear: both;
}
.avatar-body>.hr {
    background-color: #999999;
    height: 1px;
    width: 100%;
    margin-top: 20px;
}
.avatar-upload {
    overflow: hidden;
}
.avatar-upload label {
    display: block;
    float: left;
    clear: left;
    width: 100px;
}
.avatar-upload input {
    display: block;
    margin-left: 110px;
}
.avatar-wrapper {
    height: 300px;
    width: 300px;
    margin-top: 15px;
    box-shadow: inset 0 0 5px rgba(0,0,0,.25);
    background-color: #fcfcfc;
    overflow: hidden;
    display: inline-block;
}
.avatar-wrapper img {
    display: block;
    height: auto;
    max-width: 100%;
}
.avatar-preview {
    float: right;
    margin-top: 15px;
    margin-right: 15px;
    border: 1px solid #eee;
    border-radius: 4px;
    background-color: #fff;
    overflow: hidden;
}
.avatar-preview:hover {
    border-color: #ccf;
    box-shadow: 0 0 5px rgba(0,0,0,.15);
}
.avatar-preview img {
    width: 100%;
}
.preview-md {
    height: 120px;
    width: 120px;
    border-radius:100% ;
    display: inline-block;
    vertical-align: top;
}
.avatar-btns {
    margin: 0 auto;
    width: 280px;
}
.avatar-btns button {
    margin: 20px;
}
.fa-save {
    background-color: #009944;
    color: #fff;
}
.loading {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .75;
    filter: alpha(opacity=75);
    z-index: 20140628;
}
/*修改用户名弹出框*/
.ch-na-modal,.ch-pd-modal {
    width: 400px;
    /*height: 280px;*/
    background-color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin:0 auto ;
    position:relative;
    top: 20%;
    padding: 40px;
}
.ch-na-modal>.close,.ch-pd-modal>.close {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 32px;
}
.ch-na-modal>p {
    font-size: 18px;
    margin: 0 0 40px 0;
}
.ch-na-form>label {
    font-size: 14px;
    color: #999999;
    font-weight: 400;
}
.ch-na-modal>.ch-na-form>.form-control {
    height: 40px;
    font-size: 18px;
    margin: 10px 0 40px 0;
}
.ch-na-form>.btn {
    background-color: #F5F5F5;
    color: #999999;
}
.ch-pd-modal>.ch-na-form>.form-control {
    margin-bottom: 20px;
}
.ch-pd-modal>.ch-na-form>label>span {
    color: #555555;
    font-weight: 600;
}
/*个人中心页样式结束*/